.bubble {
    border-left: 5px solid !important;
}

.bubble .bubble-icon {
    display: none !important;
}

.bubble .thread-indicator {
    color: #FFF;
    fill: #FFF;
}

.chat-message-list .avatar-container {
    left: 18px !important;
}

.chat-message-list .chat-message.message {
    padding-left: 60px !important;
}
